.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 6px 10px;
    width: 100%;
    max-width: 500px;
    height: 1.5rem;
    border: 1px black solid;
    border-radius: 0.5rem;
    flex-wrap: nowrap;
}